lidar_camera_fusion/bag0/**
lidar_camera_fusion/bag1/**
lidar_camera_fusion/bag**

lidar_camera_fusion/dump/**
**.pyc
lidar_camera_fusion/multipose_model/**
lidar_camera_fusion/dump2/**
**.png


lidar_camera_fusion/utils/**
lidar_camera_fusion/models/**
lidar_camera_fusion/sort.py
lidar_camera_fusion/yolov7.py
lidar_camera_fusion/traced_model.pt
lidar_camera_fusion/yolov7.pt
*.npz
